Source: get
Section: utils
Priority: optional
Maintainer: tranquil <tranquil@example.com>
Homepage: https://github.com/tranquil-tr0/get
Build-Depends: debhelper-compat (= 13), dh-python, dh-sequence-python3, python3-all, pybuild-plugin-pyproject
Standards-Version: 4.6.0
Rules-Requires-Root: no

Package: get
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: Package manager for GitHub releases
 A small utility to install and manage binaries published as GitHub releases.
