Package: get-gui
Source: get
Version: 0.5.0-1
Architecture: all
Maintainer: tranquil <tranquil@example.com>
Installed-Size: 33
Depends: python3:any, get, python3-qtpy-pyside6, libpyside6-py3-6.9
Section: utils
Priority: optional
Homepage: https://github.com/tranquil-tr0/get
Description: Graphical frontend for get
 QML/Qt (PySide6) graphical frontend for the `get` tool. Contains the
 application launcher and QML assets. Desktop file and icon should be
 provided in the source tree or by the packager.
